.about
    background: url(../img/flower-foto1.png) no-repeat right
    background-size: auto
    height: 605px
    margin-top: 12px

    &__content
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 140px

    &__photo
        img
            width: 609px
            height: 403px

    &__wrapper
        width: 465px
        display: flex
        flex-direction: column

    .title
        @include h2
        margin: 0


    .body
        @include h4
        margin: 0
        padding-top: 20px


    .subtitle
        @include h5
        margin: 0
        padding: 54px 0 14px

