.slider
    display: flex
    flex-direction: column
    position: relative

    &__content
        display: flex
        flex-direction: column
        position: relative
        margin-top: 100px


    &__arrow
        display: flex
        

    .cards
        display: flex
        flex-wrap: wrap
        align-content: space-between
        justify-content: space-between
        height: 880px
        
        .card
            width: 366px
            border: 1px solid orange

            &__wrapper
                display: flex
                justify-content: space-between
                padding: 4px 14px 14px

            .card__title
                font-weight: 500
                font-size: 16px
                line-height: 140%
                text-transform: uppercase
                color: #000000

            .card__subtitle
                font-weight: 300
                font-size: 15px
                line-height: 120%
                color: #000000

    .btn
        width: 62px
        height: 62px
        border-radius: 50%
        border: none
        position: absolute
        top: 36.5%
        @include orange__color
        
        &__left
            left: calc(50% - 1600px/2 + 140px)

        &__right
            right: calc(50% - 1600px/2 + 140px)

    &__button
        @include button
        margin: 80px auto 100px


    .bg1
        height: 460px
        position: absolute
        bottom: 0

    .bg2
        height: 275px
        position: absolute
        bottom: 0
        right: 0

